body {
  background-image: url('bg2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: yellow;
}

h1 {
  text-align: center;
}

h2 {
  color: white;
  letter-spacing: 8px;
  text-align: center;
}

h3 {
  letter-spacing: 6px;
  text-align: center;
}

h4 {
  font-size: 50px;
  color: white;
  text-align: center;
}
